doctype
html
  head
    title="KervinGames(M)"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="/static/css/phone.css")
    link(href="https://fonts.googleapis.com/css?family=Acme", rel="stylesheet")
  body
    div(id="app")
    script(src="/static/bundle.js", type="text/javascript")
